[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.5"
django-cors-headers = "4.2.0"
qrcode = "7.4.2"
pillow = "10.0.1"
djangorestframework = "3.14.0"

[dev-packages]

[requires]
python_version = "3.9"
